* {
    box-sizing: border-box;   
}

body {
    font-family: sans-serif, arial, helvetica;
    background: #f5f6f7;
    margin: 0;

}

.header {
    background-color: #000000;
    color: #FFFFFF;
    padding: 30px;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 4px solid #fdb347;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
}

.gallery img {
    
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.gallery::after{
    content: "";
    width: 350px;
}